.countries-menu-container {
    position: absolute;
    top: 0px;
    right: -400px;
    padding: 10px 20px 10px 10px;
    z-index: 20;
    opacity: 0;
    width: 100%;
    max-width: 400px;
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.2s all ease-in;
    background-color: #75C1BA;
    height: 100%;
    right: 300px;
    opacity: 1;
}

.minimizeMenu {
    right: 60px;
}

.close-countries-menu {
    position: absolute;
    right: 10px;
    top: 88px;
    cursor: pointer;
}

.close {
    width: 20px;
    height: 20px;
}

.countries-panel {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10px;
    color: white;
}

.title-infos {
    padding-top: 65px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 16px;
}

.nato-country {
    /* float: left; */
    display: inline-block;
    width: 108px;
    /* height: 40px; */
    padding: 12px 0px 0px 5px;
    margin: 0 4px 4px 0;
    text-align: center;
    cursor: pointer;
}

.nato-country:hover {
    background-color: #71cfc6;
  }

.flag-icon {
    display: inline-block;
    height: 30px;
    width: 40px;
    line-height: 1em;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.country-name {
    height: 25px;
    vertical-align: middle;
    padding-left: 0px;
}